// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
@import "_mixins.styl";
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Dark mode colors
// --------------------------------------------------
@import "_colors.styl";

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;


.floating-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #444;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 24px; 
}

.floating-button a {
    text-decoration: none;
    color: inherit;
}
